<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>pRectIcon</key>
		<dict>
			<key>x</key>
			<string>1998</string>
			<key>y</key>
			<string>1452</string>
		</dict>
		<key>pBackIcon</key>
		<dict>
			<key>x</key>
			<string>85</string>
			<key>y</key>
			<string>1452</string>
		</dict>
		<key>titleLabel</key>
		<dict>
			<key>x</key>
			<string>1024</string>
			<key>y</key>
			<string>1452</string>
		</dict>
		<key>pNavBar</key>
		<dict>
			<key>x</key>
			<string>1024</string>
			<key>y</key>
			<string>1452</string>
		</dict>
		<key>pDocumentIcon</key>
		<dict>
			<key>x</key>
			<string>1024</string>
			<key>y</key>
			<string>60</string>
		</dict>
		<key>pSettingsIconActive</key>
		<dict>
			<key>x</key>
			<string>1244</string>
			<key>y</key>
			<string>60</string>
		</dict>
	</dict>
	<key>batch</key>
	<array>
		<string>s16Dog1</string>
		<string>s16Dog2</string>
	</array>
	<key>mov</key>
	<dict>
		<key>mov1</key>
		<string>s16a.mov</string>
		<key>mov2</key>
		<string>s16b.mov</string>
	</dict>
	<key>sound</key>
	<dict>
		<key>bgSound1</key>
		<string>u1bgmusic.mp3</string>
	</dict>
	<key>image</key>
	<dict>
		<key>bg1</key>
		<string>s16bg.png</string>
		<key>leadingRole</key>
		<string>s16dogtail1.png</string>
		<key>answerWrongAct</key>
		<string>s16doghead2.png</string>
		<key>board1</key>
		<string>pu3car.png</string>
		<key>board2</key>
		<string>pu3motorcycle.png</string>
		<key>word</key>
		<string>s16word.png</string>
	</dict>
	<key>particle</key>
	<dict>
		<key>particle1</key>
		<string>s15Particle1.plist</string>
	</dict>
</dict>
</plist>
